[2018-07-11 16:58] DawnmarieDesJardins opened #2 "Merge Conflict"
Merge conflict - had to create a pull request to resolve fork issue from before.  Please resolve and merge - I'll re-QC when complete.

[2018-07-13 20:32] #2 closed

[2018-07-16 04:50] evmoreno opened #3 "Before-the-HOL.md contains Reslient IaaS Doc"
Wrong page added into this Repo - https://github.com/Microsoft/MCW-Continuous-delivery-in-VSTS-and-Azure/blob/master/Hands-on%20lab/Before%20the%20HOL.md reads

[2018-07-24 18:40] DawnmarieDesJardins commented on #3
Assigning to Michael to review/resolve.
Michael - I added the header and licensing information, but line 26 title says Building a resilient IaaS architecture.  I'm not sure if it was a copy/paste and the title didn't get changed, or the Before the HOL instructions are incorrect.  Please review & resolve.
(Document also needs to have a TOC added).

[2018-07-24 19:32] DawnmarieDesJardins opened #6 "HOL - step-by-step"
Please review line 238 - is formatting correct?  Should it be in a grey box?

[2018-08-01 20:48] DawnmarieDesJardins commented on #3
Incorrect title, instructions are correct. Corrected and closing issue.

[2018-08-01 20:48] #3 closed

[2018-08-02 11:38] #6 closed

[2018-09-04 16:08] mwasham opened #8 "ready to QC"

[2018-09-19 15:02] jonnyonions opened #9 "Missing link to the Tailspin Toys repo Ex2 task 2"
Instructions at Exercise 2 T2 instantly jump in to referring to source code which has no link provided, nor is this is the pre-workshop steps.  This is confusing, especially since the student has just finished working with some source code (albeit a resource template) in visual studio.
 Please provide a link to the Web and Test projects and make it more obvious that the next step is specifically f

[2018-09-19 17:26] DawnmarieDesJardins opened #10 "Before the HOL"
I've added the TOC from the template but the links to the tasks are not working, please review & correct formatting.

The document has a Requirements section and a Prerequisites section that look about the same.  The template and TOC use Requirements.  Please review & update/remove prerequisites section if possible.

[2018-09-19 18:46] DawnmarieDesJardins commented on #8
Hi Michael, I've completed my QC.  There are two open issues for you to please review & close.  After that's done, I'll update run compliance and update HTML files.

[2018-09-20 10:51] #9 closed

[2018-09-20 10:51] #10 closed

[2018-09-20 19:51] DawnmarieDesJardins commented on #8
QC complete & compliance checks run.  Closing issue.

[2018-09-20 19:51] #8 closed

[2018-09-27 16:51] hkamel opened #12 "Rebranding to Azure DevOps"
Should we consider rebranding the workshop title and its relevant document to Azure DevOps instead of VSTS?

[2018-09-27 16:57] hkamel opened #13 "Related References section"
In [Related references](https://github.com/Microsoft/MCW-Continuous-delivery-in-VSTS-and-Azure#related-references). please update:

- DevOps checklist link to point to the public URL
- Web App reference architecture, currently given 404

[2018-10-07 01:12] jschluchter commented on #12
We'll work to rebrand this over the next few weeks.

[2018-10-19 22:31] DawnmarieDesJardins commented on #13
Corrected with recent PR.  Thank you!

[2018-10-19 22:31] #13 closed

[2018-11-21 15:46] akn9050 opened #16 "Need to update Visual Studio Team Services part in lab guide."
1. Now VSTS is Azure DevOps. Please update the lab guide accordingly from [Exercise 2.1](https://github.com/Microsoft/MCW-Continuous-delivery-in-VSTS-and-Azure/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Continuous%20delivery%20in%20VSTS%20and%20Azure.md#task-1-create-visual-studio-team-services-account).
1. Whenever there is new signup for Azure DevOps(VSTS). New interface comes up for th

[2018-12-10 20:06] mwasham opened #17 "December Update - Author Suggestions"
Use the same scenario but to use Azure DevOps to solve the customer problem.

[2018-12-10 23:50] danielshue commented on #17
In addition to updating to Azure DevOps, updating the screen shots would make sense as well.

[2018-12-11 00:02] mwasham commented on #17
Agreed - the intent is to completely rewrite the solution in the WDS and the hands-on lab using Azure DevOps as the solution.

[2018-12-11 16:52] DawnmarieDesJardins commented on #17
Suggestion received via email:

I would suggest change in the name as VSTS is no longer there since last Ignite announcement - September 2018, now it’s called Azure DevOps Services 😊.

Thanks,

Mariusz Borna

[2018-12-11 17:50] waltermyersiii commented on #17
Yes, well aware of that.

[2018-12-15 22:52] danielshue commented on #17
I would also like to see some development of Manual Testing (Test Plans) in Azure DevOps.

[2018-12-16 16:35] dmckinstry commented on #17
@danielshue - Would Test Plans be better handled in a HOL (like this: https://www.azuredevopslabs.com/labs/azuredevops/testmanagement/) or do you think it makes sense in an MCW?  I know our enterprise customers still actively do manual testing but is that what we want included/recommended in the broader DevOps discussion.  (I am legitimately interested in your opinion.)

[2018-12-18 12:32] fasalzaman commented on #16
Any updates on this issue?

[2018-12-18 23:45] dburnison commented on #17
Quick observations about the slides:
Slide 27: Replace "MSDN subscriptions" with "Enterprise DevTest Subscriptions".
Slide 31: "complete" should be "compete"

Hands On Lab:
In addition to the above mentioned pre-deployment approval I would add a post deployment approval to the Dev environment.

I know we don't want to make the lab too long but we could either:
1. Show how to do a Pull request buil

[2018-12-18 23:55] DawnmarieDesJardins commented on #16
SME review for the current update is due by EOD today.  Your issue will be taken into consideration with SME comments for the update.

[2018-12-18 23:56] DawnmarieDesJardins commented on #17
Please include open issues #12 & #16 in this update review and close out as appropriate when update is complete.  Thanks!

[2018-12-19 01:14] DawnmarieDesJardins commented on #17
@mwasham @hopero929 @waltermyersiii
Hi Michael,
SME feedback due EOD 12/18.  Please move update forward with the feedback received above.  When a PR is ready for SME review, assign it to me and I'll send out the notifications.
Thanks, Dawnmarie

[2018-12-19 14:19] dburnison commented on #17
I don't think the HOLs and these workshops are mutually exclusive. Unless, we are saying that we should first consider using the HOLs and then only use a MCW like this when we want to provide a broader experience since the HOLs only focus on one component at a time. I still get asked about Azure Test Plans, in fact I am providing an Azure Test Plans overview tomorrow (12/20) for Underwriters Labs

[2018-12-19 17:01] dmckinstry commented on #17
@dburnison - This is more about the scope and purpose.  MCWs have a higher investment and cover more area.  HOLs tend to be more targeted.  I have a hard time thinking about a good general purpose whiteboard session on test plans.  But it is easy to have an HOL.  I also think many QA groups who would use Test Plans are opinionated about how they work - they want to know how the tools work more tha

[2019-01-19 16:48] snpdev commented on #12
Hi. I see a `jan-2019-update` branch, but it appears in sync with master, i.e. no Azure DevOps branding updates. I assume this `jan-2019-update` branch is in place for review of the branding updates, prior to a merge into master. If this is the case, would it be possible to push the pending Azure DevOps branding updates to this branch in the coming days? I would like to use this workshop for a Jan

[2019-01-20 02:06] crpietschmann commented on #12
@snpdev I recommend using the master branch for delivery. This brand is for the coming updates that are being worked on and isn’t ready for release yet.

We appreciate your interest!

[2019-01-20 03:40] snpdev commented on #12
Thanks for the status update @crpietschmann. I stepped through the workshop today using the master branch. It's solid. Until the branding update is ready, I will recommend to my trainees that New Navigation be turned off from the Preview features menu. Even with New Navigation off, there are a handful of UI differences (e.g. "Repos" in lieu "Code"), but these are manageable. I'll keep an eye out f

[2019-01-21 19:04] DawnmarieDesJardins commented on #12
@snpdev @sdavis3 @Jeff-Opsgility

Hi Mike - When is your delivery? I'd love to get this completed for you in time for it.

Shane - I see you've been working on Michael's feedback.  Is the update ready for QC/merge?

Dawnmarie

[2019-01-21 19:09] snpdev commented on #12
@DawnmarieDesJardins. Workshop is scheduled for Thursday, Jan 24. Perhaps this is too soon to accommodate your QC/merge requirements?

[2019-01-21 19:11] sdavis3 commented on #12
@DawnmarieDesJardins Yes, it is ready for review and merge.

[2019-01-21 19:48] DawnmarieDesJardins commented on #12
Thanks Sean!
@snpdev - We need a SME/lead review before a QC/merge so we may not make your 1/24 workshop, sorry.  I will keep a close eye on reviews and let you know when it's done.

[2019-01-25 21:19] #12 closed

[2019-01-25 21:19] #16 closed

[2019-01-25 21:19] #17 closed

[2019-01-27 15:16] snpdev opened #20 "Improve task "Download the exercise files""
Thanks for the [Azure DevOps branding update](https://github.com/Microsoft/MCW-Continuous-delivery-in-Azure-DevOps/pull/19). I am skimming the instructions now to see what has changed.

I have a suggestion to improve the "Download the exercise files" task. Right now, this is a step in "Task 3: Validate connectivity to Azure". IMO, it should be its own task, i.e. Step 4.

[2019-01-27 15:35] snpdev opened #21 "Inconsistent UI/UX for build pipeline"
My user experience for "Exercise 3: Create Azure DevOps build pipeline" is different from the HOL instructions.

When I click the **New pipeline** button, this is what I see:

![image](https://user-images.githubusercontent.com/1825479/51803043-5b70e780-221e-11e9-98a8-47f3a4fc97ca.png)

Assuming I continue, the next steps is:

![image](https://user-images.githubusercontent.com/1825479/51803090-e783

[2019-01-28 14:24] vermegi opened #22 "No ASP.NET project in the repo"
When executing Exercise 5, the release pipeline fails, since there is only an ARM template in the git repo, there is no actual ASP .NET project present. I read through the previous steps again, but I don't think I missed creating this. So this additional step of creating an ASP .NET web app project in Visual Studio and checking this in as well into the repo is still needed.

[2019-01-28 14:54] sdavis3 commented on #22
Be sure to review the "Before the HOL.html" document located at [https://github.com/Microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/HTMLLINKS.md](https://github.com/Microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/HTMLLINKS.md). In Task 3, you download the sample project that contains the ASP.NET solution.

[2019-01-28 14:56] sdavis3 commented on #21
This could be due to some preview features rolling out to various instances. Would you be willing to turn on "New YAML pipeline creation experience" so see if it matches the flow correctly? You can find it by clicking on your profile in the top right, then selecting Preview features, then navigating all the way to the bottom.

[2019-01-28 15:14] snpdev commented on #21
Bingo! "New YAML pipeline creation experience" was disabled. I didn't even notice it hiding at the bottom of the Preview features menu (Figure 1). In the instructions, please point out the "New YAML pipeline creation experience" requirement. (When I deliver the workshop, I'll direct the users' attention to the "Use the visual designer" link so they aware of this option.)

I see a UI distinction in

[2019-03-01 05:25] wely commented on #21
Hi guys, if that's the case, shall we include this step to the HOL?

[2019-03-06 20:28] DawnmarieDesJardins commented on #22
Issue resolved. Closing.

[2019-03-06 20:28] #22 closed

[2019-03-06 20:29] DawnmarieDesJardins commented on #20
Labeling this issue as an enhancement - to be resolved in the scheduled May 2019 test/fix.

[2019-03-26 12:44] Pungbjorn opened #26 "Threshold values = null"
Some threshold values were created with null in Visual Studio.
I had to change them for template deployment to work.
"threshold": NULL -> "threshold": 80.0

[2019-03-27 23:53] DawnmarieDesJardins commented on #26
@mwasham @Jeff-Opsgility
Thanks!
This workshop will be going through a test/fix in April.  Bringing your issue to their attention to resolve.

[2019-04-03 01:14] snpdev opened #27 "WDS trainer presentation - grammar recommendation"
The second bullet of slide 6 in [WDS trainer presentation - Continuous delivery in Azure DevOps.pptx](https://github.com/Microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Whiteboard%20design%20session/WDS%20trainer%20presentation%20-%20Continuous%20delivery%20in%20Azure%20DevOps.pptx) appears to be incorrect.

It reads:

I think it should read:

[2019-04-03 17:01] sdavis3 commented on #26
@Pungbjorn I'm not able to reproduce this behavior. Do you have any screenshots demonstrating this?

[2019-04-06 03:20] #20 closed

[2019-04-06 03:20] #27 closed

[2019-04-06 03:20] #21 closed

[2019-07-08 21:55] #26 closed

[2019-07-08 22:03] DawnmarieDesJardins opened #29 "August 2019 - Content update"
This MCW is scheduled for content update.
Opsgility - please review current content and any existing open issues and provide your recommended updates for SME review.

[2019-07-15 14:17] kevinhillinger opened #30 "Content Update - Technology Stack"
Currently, the entire tech stack is outdated, using older stack. I suggest we update it to the following to have the latest capabilities and open source stack on the market:

- Angular frontend plus asp.net core API backend
- PostgreSQL backend to demonstrate a DB other than SQL Database on Azure.

### Affected
- The whiteboard and HOL would both be affected.
- Dev environment would change to use

[2019-07-15 14:21] kevinhillinger opened #31 "Content Update - Automate Before HOL"
the entire prerequisite steps should be automated with scripts and ARM templates in the MCW, and executed in Cloud Shell.

#### Objectives:
- speed up the prereq process for all
- demonstrate scripting and ARM templates
- reduce dependency on screenshots

References
#29

[2019-07-15 14:30] kevinhillinger opened #32 "Content Update - Incorporate Azure DevOps Artifacts"
A more realistic scenario is that development would build and then package binaries to an Artifact repository. This would represent the version of the app and would be deployed to App Services, for example.

### Objectives
- Incorporate Artifacts to expose this feature
- Increase the realism of the deployment

References
#29

[2019-07-18 03:10] sdavis3 commented on #30
I’m in general agreement with this ask…specifically around the Angular and ASP.NET Core request. I could go either way on the PostreSQL backend request, but I do agree moving away from SQL Database for Azure would be a welcome change.

[2019-07-18 03:26] sdavis3 opened #33 "Content Update - Multi-stage YAML Pipelines"
Update content to move away from visual editor and leverage the unified YAML experience.

[2019-07-18 20:34] waltermyersiii commented on #30
Yes, move to PostgreSQL on backend. Becoming more popular, especially for high-scale, distributed scale out.

[2019-07-18 20:34] waltermyersiii commented on #30
Also agree on Angular or React front end.

[2019-07-18 20:35] waltermyersiii commented on #31
Yes, we're planning this for all updates where applicable. ;-)

[2019-07-20 19:48] rajanbhayana commented on #29
@mwasham  can we jazz it up a bit by using key vault for azure devops variables? or is this targeted towards beginners?

[2019-07-23 21:56] kevinhillinger commented on #33
I agree that this is going to be a much better experience where possible. Additionally, this allows for direct sample/reference YAML to be placed within the MCW itself as scaffolding.

[2019-07-27 21:33] cloudmelon opened #34 "Preview feature update"
Hi Preview feature in Azure DevOps has been updated :

Latest :
![image](https://user-images.githubusercontent.com/4621560/61999674-ea27c980-b0c6-11e9-9892-092f906376ca.png)

Didn't find :
****
![image](https://user-images.githubusercontent.com/4621560/61999691-1b07fe80-b0c7-11e9-9fd8-94f6ab6f1149.png)

I'll update the content accordingly as well :)

[2019-08-14 12:51] sdavis3 commented on #33
Holding off on this one until the next update for the release approval functionality (using YAML) to go GA.

[2019-08-16 10:22] OsirisTerje opened #36 ""arm" folder should be renamed since it is ignored by visualstudio .gitignore"
The standard Visual Studio gitignore file contains ignores for folders named "arm" and "arm64" since these are standard output folders for arm processors.

A user may want to add his student exercise to a git repository, and then his changes will not be under source control.

Renaming the folder to "armtemplate" would solve this.

[2019-09-05 22:54] #29 closed

[2019-09-05 22:54] #36 closed

[2019-09-05 22:55] DawnmarieDesJardins commented on #30
Closing as address in Aug 2019 update

[2019-09-05 22:55] #30 closed

[2019-09-05 22:56] DawnmarieDesJardins commented on #31
Closing issue as address in Aug 2019 update

[2019-09-05 22:56] #31 closed

[2019-09-05 22:56] DawnmarieDesJardins commented on #32
Closing issue as address in Aug 2019 update

[2019-09-05 22:56] #32 closed

[2019-09-05 22:57] DawnmarieDesJardins commented on #34
Closing issue as addressed in Aug 2019 update

[2019-09-05 22:57] #34 closed

[2019-09-06 10:04] estensen opened #37 "Best-practice for Solution architecture"
How is merging with the master branch before running build and test best practice? If either build or test fails your errors and bugs will propagate to other developers, because they will pull the latest code from the master branch when they develop.

[2019-09-11 08:14] srushti-714 opened #38 "Alternative option to add an Azure Resource manager service connection"
Lab step details: Exercise 4 (Create Azure Devops release pipeline) Task 1,Step 9
There is an issue in **Configuring Azure Service Connection** i.e after clicking Authorize, there is an error like **Failed to set Azure permission & Ensure to apply permission at the Subscription level to get Authorized to Azure** , which can't be provided for this lab. So, we request you to add the steps about the

[2019-09-11 11:04] sdavis3 commented on #38
In the situation where a student doesn't have subscription level permissions, you are correct, they would see this permission error. I'll defer to @waltermyersiii as to if he wants to include this change in a future update.

[2019-09-11 19:05] waltermyersiii commented on #38
Yes, do include.

[2019-09-16 06:22] estensen commented on #37
Attended an event, "Discover workshop: Continuous delivery in Azure DevOps" in Oslo, where we were told that [it](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#solution-architecture) was "the solution preferred by Microsoft".

Maybe make the cons of this solution clearer in the

[2019-09-16 19:21] waltermyersiii commented on #37
estensen: We need to update the workshop to make the check ins a PR so it won't break the build. Adding @sdabbiru  and @dmckinstry for visibility.

[2019-09-16 19:22] waltermyersiii commented on #37
Oops, @sdavis3, not @sdabbiru.

[2019-09-16 19:29] waltermyersiii commented on #37
Hi all. Nix that. I see that we actually do implement the PR for review. So please disregard.

[2019-09-16 21:29] dmckinstry commented on #37
Ok - I've dug in and basically agree with the original intent. If we really want to show best practices, we should (1) have a PR build that compiles and tests but doesn't package, (2) a branch policy that requires the PR build and (3) a separate CI build that triggers on Master (post-pr merge), uses the PR build as a template but adds the publishing steps.

So the question is, how far do we want t

[2019-09-16 21:30] waltermyersiii commented on #37
We will meet and plan for the next update. @sdavis3 @DawnmarieDesJardins

[2019-09-17 21:57] DawnmarieDesJardins commented on #37
Thanks all.  Marking this issue as an enhancement so the comments above will be taken into consideration at the next scheduled update.

[2019-09-25 11:11] OsirisTerje commented on #37
The "Microsoft solution" was part of the trainer presentation, and the page 19 there show a Preferred Solution from Microsoft that states what @estensen says above.
<img width="844" alt="Annotation 2019-09-25 125225" src="https://user-images.githubusercontent.com/203432/65595314-c97bd300-df94-11e9-8f9e-70e0d50ab971.png">

I've changed this in https://github.com/microsoft/MCW-Continuous-delivery-in

[2019-09-25 16:40] OsirisTerje commented on #37
@dmckinstry  The CI build doesn't really do any real publishing.  It only creates the artifact and stores that away.  So I don't think there is any need for different builds.  If one want to skip one of the steps, a simple condition could do that.   I tried it out now (without condition), and it worked quite nice as is.  What is needed though is to block the release pipeline from triggering on any

[2019-09-25 16:41] OsirisTerje commented on #37
I have also added the  information in the HOL Step by step on how to set up a branch policy using the builds. See https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/pull/40

[2019-09-30 15:02] clementlrms opened #42 "Az DevOps authentication through Azure Shell"
Hi,

is there specific guidelines to authenticate to Azure DevOps using Azure Shell ?
In task 2, this is required to sync up local repo (Azure Shell) with Azure DevOps Project.
Work around is to use VS code + PAT with Git Bash for Windows, but I did not find a way to do it using Azure Shell.
I appreciate your feedback.

[2019-10-01 09:54] clementlrms opened #43 "Create Azure DevOps build pipeline - Build failed"
Hi,

when implementing exercise 3, an error raised during build of the pipeline.
The Nuget restore operation failed and it looks to be related to an inconsistency between some package from AspNetCore.Authentication and NETCoreApp,Version=v2.2:

Package Microsoft.AspNetCore.Authentication.Abstractions 2.1.0 is not compatible with netcoreapp2.2 (.NETCoreApp,Version=v2.2). Package Microsoft.AspNetCor

[2019-10-01 10:22] clementlrms commented on #43
Hi,

I able to fix the Nuget restore task by adding below within the pipeline definition:
- task: NuGetToolInstaller@0

However, when testing with both Agent pools (VS 2017 and windows-2019), I got the following error during the Build:

Error : This version of Microsoft.AspNetCore.App is only compatible with the netcoreapp2.1 target framework. Please target netcoreapp2.1 or choose a version of Mic

[2019-10-01 13:02] clementlrms commented on #43
Hello,

I finally identified where the issue came from.
I skipped the part below that was mandatory to correctly execute the Build:

steps:
- task: NuGetToolInstaller@0
  displayName: 'Use NuGet 4.4.1'
  inputs:
    versionSpec: 4.4.1

[2019-10-01 13:02] #43 closed

[2019-10-03 09:30] OsirisTerje commented on #37
Ping :-)

[2019-10-03 16:17] waltermyersiii commented on #37
@sdavis3. Please look at Osiris' suggestions.

[2019-10-03 16:20] waltermyersiii commented on #37
@OsirisTerje, please do not issue PRs. Only our vendor partners can issue PRs for prescribed updates. Please submit as an issue instead, or point us to your fork with your updates.

[2019-10-03 17:18] DawnmarieDesJardins commented on #37
@paulopsgility
Adding Paul as he was looking into the open PRs.

[2019-10-03 17:20] sdavis3 commented on #37
I concur this would be a good change. Let's tackle it in the next update.

[2019-10-05 20:44] masyanru opened #44 "You do not have permissions to create resource groups under subscription"
... and this is the main problem.
When I've opened the step-by-step guide the first step was "From the Azure web portal, launch the Azure Cloud Shell" and you can't do this because you can't create resource group and storage in this subscription 'cause you don't have any permissions.
Ok, I've created the storage inside current resource group called "labvm-97029", but it doesn't make sense since in

[2019-10-13 02:08] OsirisTerje commented on #37
@waltermyersiii  The fork (and branch)is at https://github.com/solidify/MCW-Continuous-delivery-in-Azure-DevOps/tree/workshopSept25

FWIW:  I also find it a bit counter-productive to not accept pull requests to an open-source project.  I would suggest you reevaluate that policy. It could also speed up your release schedule.

We're running the workshops (at Microsoft) in Oslo, and have two more thi

[2019-10-15 01:14] paulopsgility commented on #44
@masyanru Thanks for the feedback.

What subscription are you using for this? We don't provide a subscription as part of the lab. If you do not have permissions to create a resource group you will need to talk to the administrator or owner of the subscription.

I'll update the paths to reflect the unzipped file location.

[2019-10-16 15:05] snpdev commented on #42
I have the same problem as @clementlrms at Exercise 2, Task 2, bullet 6.

[code]
IMHO, the workshop should reflect the way a developer would probably peform this activity, i.e. using an IDE (e.g. Visual Studio 2019 or VS Code) with git integration, or run git commands from a CLI.

[2019-10-16 15:15] paulopsgility commented on #42
@clementlrms @snpdev Thanks for the feedback, we are looking into this. We'll respond here as soon as we are done investigating this.

Thanks
Paul

[2019-10-17 18:35] snpdev opened #45 "Exercise 3, Task 1 - Retain Trigger"
The final result of the YAML edits are shown in steps 11 and 12 or Exercise 3, Task 1. Neither step displays the build pipeline `trigger`, which had been in place after we selected the pipeline type in step 5.

If no trigger is defined in the YAML (or from the Triggers tab in the UI), **any code update will trigger a build**. For instance, on creation of a new branch, as in Exercise 6. I don't thi

[2019-10-18 15:54] paulopsgility commented on #45
@snpdev Thanks for the feedback, we will add some clarity around these steps on the next update.

[2019-10-24 21:17] AErmie opened #46 "Exercise 1 - Task 4 - Deployment Fails (Wrong Directory)"
If you follow along with the Before The HOL steps, your Azure Shell prompt directory will be in the studentfiles directory, but your screenshot shows/expects us to be at the root directory and is looking for the azuredeploy.json file in the $HOME directory (which it is not).

It is actually located in the /studentfiles/armtemplate/ directory.

You should update the instructions to have the student

[2019-10-24 22:38] AErmie opened #47 "Exercise 2 - Task 2 - GIT Push Fails Due to MFA"
I've discovered that if I have MFA setup for my Git account, even though I am prompted for the password, I am not prompted for the second factor of authentication. Therefore the Azure Cloud Shell returns a "fatal: Authentication failed" error message.

As a workaround, if you create a Personal Access Token, this allows the "git push -u origin --all" command to work.

The instructions should be upd

[2019-10-24 23:23] AErmie opened #48 "Exercise 5 - Task 1 - Updated Steps Required"
The instructions for Exercise 5 -  Task 1, no longer match what is displayed in Azure DevOps.
Instead of the "Queue" button, the button now says "Run pipeline". Also, you no longer see a popup, but rather, a side blade appears, so the screenshot might need to be updated (and ideally in dark mode, as it's hard to see white on white).

[2019-11-05 19:53] paulopsgility commented on #42
We will pick this up on the next test/fix

[2019-11-05 19:56] paulopsgility commented on #44
Zip paths issue is a duplicate and has been fixed. The permissions problem isn't specific to the MCW.

[2019-11-05 19:56] #44 closed

[2019-11-06 04:33] srushti-714 opened #49 "Exercise 1 Task 4,5,6"
The path and the screenshots mentioned in the lab guide for the command
az group deployment create --resource-group $resourceGroupName --template-file "$HOME/azuredeploy.json"  (Exercise1:Step 1 of  task4,task5 ,task6) does not match with the actual path i.e   az group deployment create --resource-group $resourceGroupName --template-file "$HOME/studentfiles/armtemplate/azuredeploy.json" .
Can you

[2019-11-06 14:44] akn9050 commented on #49
Also in [exercise 4 task 1.9](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-1-create-a-release-definition) can we update the authorization with advance option, so instead of authorizing on subscription level, we can select the advance option and select tailspin toys RG, so

[2019-11-11 20:09] paulopsgility commented on #49
We are doing a test/fix this month (Nov). We'll review and update as necessary.

[2019-11-11 20:15] paulopsgility commented on #48
We'll take care of this during the Nov test/fix

[2019-11-11 20:17] paulopsgility commented on #47
We'll take care of this during the Nov test/fix

[2019-11-11 20:19] paulopsgility commented on #46
We'll take care of this during the Nov test/fix

[2019-11-18 21:09] inatale opened #50 "Pipeline Build failed"
Pipeline Build failed due to npm nan module errors:
##[error]clientapp\node_modules\nan\nan_implementation_12_inl.h(103,0): Error C2664: 'v8::MaybeLocal<v8::Function> v8::Function::New(v8::Local<v8::Context>,v8::FunctionCallback,v8::Local<v8::Value>,int,v8::ConstructorBehavior,v8::SideEffectType)': cannot convert argument 1 from 'v8::Isolate *' to 'v8::Local<v8::Context>' (compiling source file ..

[2019-11-19 22:11] inatale commented on #50
The following workaround could help:
1. Delete package.json.lock in clientapp folder.
2. Change from rxjs: "^6.0.0" to rxjs: "6.0.0" at package.json in the same folder.

[2019-11-21 06:17] paulopsgility commented on #50
@inatale we are looking into this.

[2019-11-21 18:03] amalgireesh opened #51 "Issue in Exercise 3: Create Azure DevOps build pipeline"
In **Exercise 3**, Task 1,  To create Azure DevOps **build** **pipeline** is getting failed with multiple errors.
![image](https://user-images.githubusercontent.com/48020356/69363383-708b9b00-0cb6-11ea-98dc-ed674cd3786a.png)

[2019-11-21 19:29] amalgireesh commented on #51
The build got succeeded after deleting the package-lock.json in ClientApp folder and also changing from **rxjs: "^6.0.0"** to rxjs: "6.0.0" at package.json in ClientApp folder,
with reference to https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/issues/50#issuecomment-555739843
![image](https://user-images.githubusercontent.com/48020356/69369639-68395d00-0cc2-11ea-8523-46bb142df6

[2019-11-22 15:04] inatale commented on #50
Thanks. Logs attached if needed.
[logs_67.zip](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/files/3880084/logs_67.zip)

[2019-11-25 09:26] amalgireesh commented on #51
Hi @DawnmarieDesJardins ,
We have an upcoming lab, can you please have a quick response on the issue raised.

[2019-11-25 22:03] DawnmarieDesJardins commented on #51
@amalgireesh
Thanks Amal, I've emailed the author to review & advise.

[2019-11-26 12:08] amalgireesh commented on #51
@DawnmarieDesJardins Hi,
 Lab is scheduled for 11/27 in Russia.

[2019-11-26 14:36] paulopsgility commented on #50
@inatale, we are in the process of doing a test/fix on this workshop so we'll correct this during that process.

[2019-11-26 14:44] paulopsgility commented on #51
@amalgireesh We are in the middle of a test/fix on this workshop so this will get picked up then.

It is not going to be ready for 11.27.2019. If you have upcoming deliveries you can fork the repro so you can provide your own workaround.

[2019-11-26 16:57] inatale commented on #50
@paulopsgility, thank you a lot.

[2019-12-05 16:21] amalgireesh commented on #51
Any updation on this?

[2019-12-05 16:41] DawnmarieDesJardins commented on #51
@amalgireesh
Hi Amal.  The November test/fix has been completed and is ready for QC/merge.  I'm hoping to get this one done today.  When I merger, I'll close out this issue and you'll be notified so you'll know it's done.

[2019-12-13 23:26] #48 closed

[2019-12-13 23:26] #49 closed

[2019-12-13 23:26] #50 closed

[2019-12-13 23:26] #51 closed

[2019-12-13 23:26] #38 closed

[2019-12-13 23:26] #42 closed

[2019-12-13 23:26] #45 closed

[2019-12-13 23:26] #46 closed

[2019-12-13 23:26] #47 closed

[2019-12-27 18:52] ScottMcF-OneMTC opened #53 "Getting Error on Template"
Getting error after updating "Staging" portion of template -

Azure Error: InvalidTemplate
Message: Deployment template validation failed: 'The template variable 'webAppName' is not found. Please see https://aka.ms/arm-template/#variables forusage details.'.
Additional Information:
        Type: TemplateViolation
        Info: {
            "lineNumber": 1,
            "linePosition": 3095,

[2019-12-27 19:24] scottmcf-EXP-Prod commented on #53
Replaced  "dependsOn": [
        "[resourceId('Microsoft.Web/Sites/', variables('webAppName'))]"
with

parameters('siteName'))]"

and it fixed the issue

[2020-01-14 14:27] paulopsgility commented on #53
@scottmcf-EXP-Prod we are looking into this.

[2020-01-20 21:23] andresravinet opened #54 "Continuous Integration step is missing"
Continuous Integration step is missing from the HOL page.

[2020-01-20 23:24] paulopsgility commented on #53
@scottmcf-EXP-Prod Do you recall at which exercise/task/step you saw this error? I have not been able to reproduce this.

[2020-01-21 01:05] paulopsgility commented on #54
@andresravinet can you be more specific? Is there something actually missing that prevents you from completing the lab or is this a feature request? In either case we need more information to properly triage this.

[2020-01-29 00:10] DawnmarieDesJardins commented on #53
Closing issue as no further information from author.  Please reopen if needed.

[2020-01-29 00:10] #53 closed

[2020-01-29 18:42] andresravinet commented on #54
Sure.

At the end of the lab document, it states “Because we configured continuous integration and continuous deployment…” However, nowhere in the lab is there a step to enable CI. My recommendation is to add a step to enable CI or remove that language.

Andres Ravinet
MTC Technical Architect
Microsoft

From: Paul Burpo <notifications@github.com>
Sent: Monday, January 20, 2020 8:06 PM
To: microsof

[2020-02-03 20:23] ScottMcF-OneMTC opened #55 "Terraform vs ARM?"
Any plans for creating a Terraform version of this lab/workshop?

[2020-02-04 00:38] DawnmarieDesJardins commented on #54
@paulopsgility
Response received, is the what you needed?

[2020-02-11 16:22] paulopsgility commented on #54
@andresravinet thanks, we'll resolve this at the next test/fix.

[2020-02-11 16:35] paulopsgility commented on #55
@ScottMcF-OneMTC  Currently there are no plans to create a Terraform version of this lab. This would probably need to be a whole new lab. This would need to go through the leads for this lab. I'll mark this as an enhancement request for now and we will evaluate at the next update.

[2020-02-18 20:33] tylerd opened #57 "PostgreSQL admin password requirements"
Lab participants had difficulty when entering the admin password for the ARM template. The template deployment would fail with a generic message about password complexity, but the complexity requirements are not clear. Specifically the requirement that the password cannot contain 3 or more consecutive characters from the username.

I suggest adding the complexity requirements in the document as a

[2020-02-18 20:52] DawnmarieDesJardins commented on #57
@tylerd - Thanks Tyler.  We have a scheduled review of this workshop scheduled soon.  We'll work this and your PR #58 into the review.

[2020-02-18 21:02] tylerd commented on #57
Thank you @DawnmarieDesJardins
I just ran this workshop for a group of about 30 participants and I am going through some of the feedback items. Is this team responsible for the "lab environments" that the participants receive? There are a few issues with the HOL in the lab environment, for example, you can't easily setup the Azure Shell because you don't have the ability to create a storage accoun

[2020-02-18 21:39] DawnmarieDesJardins commented on #57
@tylerd - Our authors monitor and respond to open issues left here so this is the perfect place to let us know.  Feel free to look at the current issues and add to them if it fits and open new ones from what you've found in deliveries.  If the changes are complex, we may need to wait for a more in-depth update, but we'll have your info on hand.

[2020-02-18 22:02] tylerd opened #59 "Using a pre-defined Resource Group"
The cloudlabs.ai lab provider, along with many organizations, do not provide users full access to a Subscription to perform the tasks related to this HOL. The user will have a pre-defined Resource Group which they are given Contributor or Owner access to.

Lack of Subscription-level access causes issues with the HOL steps, specifically:

* Users cannot initialize the Cloud Shell using the default

[2020-02-18 22:58] paulopsgility commented on #57
@tylerd this will get reveiwed for the upcoming test/fix.

[2020-02-19 16:57] DawnmarieDesJardins commented on #59
@tylerd - Thanks Tyler.  I reached out to the cloudlabs group for additional information of you issue.  This is their response.  I'm adding in our authors to look at the first bullet and review for the upcoming test/fix.

•	Users cannot initialize the Cloud Shell using the default settings, they have to go into the Advanced settings and create a custom Storage Account.
o	Users can create the Cloud

[2020-02-19 17:19] paulopsgility commented on #59
@DawnmarieDesJardins bullet one is a custom instruction that only applies to the cloudlabs environment. Normal subscriptions (paygo, trial, msdn, visualstudio, CSP, Opsgility lab environment etc) do not need these extra steps, it just works.

[2020-02-19 17:34] tylerd commented on #59
Thank you for reaching out to the cloudlabs team @DawnmarieDesJardins

In my experience running the cloudlabs lab, the situation was more complex than the above response, for example the participant needs to enter the "TailsponToys-RG-11596" resource group name, where the number is basically random, based on their lab. If that specific name was in the guide it would be better, but it is not. Also

[2020-02-20 09:37] thorhj opened #60 "Application Insights missing from the lab material"
The [abstracts](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps#workshop) has the following paragraph (emphasis mine):

I have gone through the lab in preparation, and I have seen nothing about Application Insights in the lab material. Has the scope of the workshop changed to no longer include Application Insights, or is something missing from the lab material?

[2020-03-13 23:30] DawnmarieDesJardins commented on #59
@tylerd
Thanks for the specifics Tyler.  As far as forking the repo, cloudlabs is separate from the MCW team so forking the repo won't help us in this case.  I have sent your feedback to my contact and they replied they will have their team review their documentation and make changes accordingly.  Closing this issue.

[2020-03-13 23:30] #59 closed

[2020-03-17 14:24] paulopsgility commented on #60
@thorhj No, the scope has not changed. Application Insights is part of the whiteboard design session. Not everything covered in the WDS makes it into the lab.

[2020-03-17 14:24] #60 closed

[2020-03-23 13:48] paulopsgility commented on #57
This was resolved in the March 2020 test fix.

[2020-03-23 13:48] #57 closed

[2020-03-23 13:48] paulopsgility commented on #54
This was resolved in the March test/fix

[2020-03-23 13:48] #54 closed

[2020-03-23 13:51] paulopsgility commented on #37
This is resolved in the March 2020 test fix

[2020-03-23 13:51] #37 closed

[2020-04-15 14:30] akn9050 opened #63 "Need to update instruction for exercise 1 task 4 step 1"
Hi,

A note to be added for students to use existing RG if they don't have permissions to create the new resource group in [Exercise 1 task 4.1](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-4-create-the-dev-environment-and-deploy-the-template-to-azure). We don't want to a

[2020-04-20 19:47] paulopsgility commented on #63
@akn9050 We write the labs to work in generic subscriptions. We do this because most consumers of the lab will be using a generic subscription and we cannot account for all of the various customizations and limitations that different environments might have.

[2020-04-20 20:23] akn9050 commented on #63
@paulopsgility , I completely agree with you, if you can add just one line note at both the steps. Without any screenshots also, it will help a lot for the folks who is not exposing subscription level permissions.

Thanks

[2020-04-27 16:15] paulopsgility commented on #63
@akn9050 It is our policy to write labs to generic subscriptions so I am not going to be able to add notes for all the various issues that people might encounter based on configuration issues outside of our control so I am going to close this out.

[2020-04-27 16:15] #63 closed

[2020-05-19 16:18] paulopsgility opened #64 "June 2020 Update Suggestions"
Here are our suggested updates for the June 2020 update. Please add any other suggestions or feedback to this issue.

- Update diagrams to use modern Azure icons
- YAML Based Release Pipeline update (issue #33)
- Update to use a single resource group / service connection to allow lab to be run without requiring owner role in the subscription

[2020-05-21 08:17] gidavies commented on #64
A suggestion: In Exercise 6: Setup a pull request policy, create a task branch and submit a pull request, create the new branch from a card in Azure Boards? This might add a few more steps to create a work item but it will then show a more complete branch created from and linked to a work item.

[2020-06-02 19:55] paulopsgility commented on #64
@gidavies I think that is a good idea. We'll add that as well.

[2020-07-10 20:36] DawnmarieDesJardins commented on #33
Closing issue - addressed in June 2020 update with PR #65

[2020-07-10 20:36] #33 closed

[2020-07-10 20:36] DawnmarieDesJardins commented on #64
Closing update issue with merge of PR #65

[2020-07-10 20:36] #64 closed

[2020-08-22 18:52] StevenHanquez opened #66 "Pipeline triggered after commit on the new-heading branch"
Thank you for this excellent guide. However, despite having scrupulously followed the indicated steps, I have a strange behavior on one of the exercise.

In Exercise 6 (Setup a pull request policy, create a task branch and submit a pull request), Task 3, Step 3, I do a commit after change the home.compenent.html in the new-heading branch.

For some reason that I don't understand, this commit cause

[2020-09-02 18:59] DawnmarieDesJardins commented on #66
@mwasham @SimonOpsgilityNeale
Please review & advise.

[2020-09-03 20:01] SimonOpsgilityNeale commented on #66
@DawnmarieDesJardins We currently have one of the team looking into this and we will share feedback once we know more.

[2020-09-04 18:37] DawnmarieDesJardins commented on #66
Closing issue as resolved with merge of PR #67 and ran HTML script.

[2020-09-04 18:37] #66 closed

[2020-10-14 14:57] mariuszdotnet opened #68 "Application Insights"
![image](https://user-images.githubusercontent.com/1854283/96006874-ef784d80-0e0b-11eb-95ed-3c16b47a5e08.png)

Application Insights is mentioned as part of the LAB but the actual lad does not have that part it in.  Should the description be updated and or the LAB content.

[2020-10-14 19:52] DawnmarieDesJardins commented on #68
@mariuszdotnet
Thank you for the heads up Mariusz!  I've updated the ReadMe page abstract to match the lab document.

@jtuliani
Jonathan, please review the ReadMe page to verify everything is correct and matches the June 2020 updates.  Follow up with the update author to advise the miss.

[2020-10-23 10:26] jtuliani commented on #68
App Insights is included in the WDS, but not in the HOL. I'll update.

[2020-10-23 10:46] #68 closed

[2020-11-13 06:07] saeinc opened #69 "There is an Error in EX4\Task1."
I've done all of processes in this HOL but there is an error in Ex4 - Task 1.

I've done code change, indentation, and component addition all as guided, but errors occur when running the last pipeline, and the error is as follows.
"/azure-pipelines.yml (Line:22, Col:1): Unexpected value 'steps'"

I think there are more code in 'steps' section but there are no guidance for this.

For your reference

[2020-11-13 18:25] dwnatwick commented on #69
@saeinc. We are looking into the issue and hope to have a fix for it some time next week.  Thank you very much for bringing it to our attention.

[2020-11-13 20:56] blgorman commented on #69
@saeinc
Please note that the line at the beginning of step 3 states
"highlight the remainder of the YAML file that defines your build jobs and indent it four spaces (two tabs), thus making this definition a child of the build stage *jobs* node."

It appears you did not highlight the rest of the file and indent appropriately.
![yaml](https://user-images.githubusercontent.com/785214/99120303-42d2ec8

[2020-11-13 21:08] blgorman commented on #69
For more clarity, I used the DevOps pipeline and have collapsed sections from the final YAML so you can reference this.  If you can't collapse like this, then the YAML is not spaced correctly.

![pipelinecollapsed](https://user-images.githubusercontent.com/785214/99121485-0ef8c680-25c2-11eb-86d4-6408eea0e723.png)

[2020-11-13 21:55] opsgilitybrian commented on #69
@DawnmarieDesJardins @mwasham @dwnatwick
Please see PR #70 to add clarity to the text regarding the spacing for the YAML

[2020-11-13 22:22] #69 closed

[2020-11-16 06:16] saeinc opened #71 "There is no linked work items in Ex6."
In Ex6-Task1, when I set the branch policy, "Check for linked work items" is enabled as required option.
and then when I tried to submit a pull request, there is no work items to link so I got an red sign in "Task 5-step 1" as attached.
However, There is no linked work item in task 3-step 5. So after submitting a pull request, there is an red sign.
Is it okay?

[2020-11-19 22:05] opsgilitybrian commented on #71
Hello @saeinc -

At one point I believe that the project used for this came with a bunch of pre-created work items.  For this, you should just create your own to track.  If you don't want to do that, you could just not enable the policy that requires a tracked work item.

I have added a step to the documentation for creating a simple work item to track, but really you can just create any work item

[2020-11-20 19:29] #71 closed

[2020-11-27 10:34] tejaswini972 opened #73 "Pipeline failure in Exercise3"
In [Exercise3 Task1](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-1-create-a-build-pipeline) step4, the pipeline execution failed.
Please find the screenshots and log file of the pipeline below for reference.

![issue1](https://user-images.githubusercontent.com/52440474/1

[2020-11-30 12:53] eaelmoneem1 commented on #73
Hi tejaswini972
I faced the same issue and I was able to resolve it, I'm adding here the steps for everyone:
-netcoreapp2.2 is not supported anymore so you need to use at least 3.1
-Using netcoreapp3.1 will require to use a new SKD version, You can see the full list here:
https://dotnet.microsoft.com/download/dotnet-core/3.1

So what you need to do is:
1-Create global.json  "This will contains the

[2020-11-30 15:50] tejaswini972 commented on #73
Hi @eaelmoneem1

Will try this and thanks for the update!

[2020-11-30 20:13] himanshuahlawat31 commented on #73
Hi we have tried workaround pipeline is getting failed
![image](https://user-images.githubusercontent.com/57964598/100659324-79f21d80-3376-11eb-81c9-b730e3723aed.png)

@DawnmarieDesJardins @mwasham @dwnatwick can you please suggest something for this.

we have lab scheduled for tomorrow

[2020-11-30 22:01] blgorman commented on #73
@eaelmoneem1
Could you clarify your comments?
Specifically,
- what is the command  to put in the first line of the csproj?
- Where are you changing from 2.2 to 3.1
- What references specifically?  They are blank in the above thread.

Thanks

@tejaswini972
The updates to the latest versions of .Net have caused .Net Core 2.2 to no longer work.
I'm currently spinning up a .Net 5 version of the app.

[2020-11-30 22:37] blgorman commented on #73
@himanshuahlawat31
I added the global.json file as per @eaelmoneem1 above and did nothing else, and my build succeeded.

![step01](https://user-images.githubusercontent.com/785214/100674161-586b4480-332a-11eb-86b4-d19d145ff91c.png)
![step02](https://user-images.githubusercontent.com/785214/100674162-586b4480-332a-11eb-878a-8eb2c4774540.png)
![step03](https://user-images.githubusercontent.com/78521

[2020-11-30 22:44] himanshuahlawat31 commented on #73
Hi @blgorman i created global.json file in the project and updated the project file with dotnet version

![image](https://user-images.githubusercontent.com/57964598/100674694-92b8fe00-338b-11eb-9fa3-04ec566f017c.png)
![image](https://user-images.githubusercontent.com/57964598/100674733-a4020a80-338b-11eb-859f-9cf7e89f7fb7.png)
but pipeline is still failing

[2020-11-30 22:51] blgorman commented on #73
what happens if you put the target framework back to 2.2
`<TargetFramework>netcoreapp2.2</TargetFramework>`

[2020-11-30 23:01] himanshuahlawat31 commented on #73
Yes that worked, thanks

[2020-11-30 23:40] opsgilitybrian commented on #73
In the meantime, I am working on a .Net 5 solution and I have it working locally, but it will take some time to get the updates into the documentation.

This solution is not endorsed, but may work as a work-around if you want to test/try this option for using .Net 5 instead of .Net core 2.2.  Note that there is no actual use of the database in this application, however I do not think the original

[2020-12-01 07:23] eaelmoneem1 commented on #73
Sorry, I have missed adding the references :
I saw that you have another workaround, but I'm adding mine for any case.

![image](https://user-images.githubusercontent.com/50662268/100709192-551d9a80-33b6-11eb-8eb3-3813183d387c.png)

[2020-12-02 20:20] #73 closed

[2020-12-04 17:26] tejaswini972 opened #75 "Issue in Exercise4 Task1"
[Exercise4 Task1 Step13](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-1-modify-yaml-definition-to-create-a-multistage-pipeline)
 Pipeline got failed.
However it worked when I updated the parameter **PackageForLinux** from `$(System.ArtifactDirectory)/**/*.zip` to `$(Build

[2020-12-10 15:30] franklinbrian commented on #75
Ex4 Task1 Step 13 -
Yes, that is a fix that is needed in the YAML.

Ex4 Task1 Step 14 -
You should not add a task to switch the slots.  The point of this is to get things into the staging slot where you can then review them.  All the slots are accessible on the web just like the production slot.  When you drill into your app service for production, you need to then look at the slots, then click on

[2020-12-10 15:53] opsgilitybrian commented on #75
@tejaswini972
Ex4 Task1 Step 13 -
Yes, that is a fix that is needed in the YAML.  Thank you for pointing this out.  The images have the fix but I've added an instruction at step 6 to make sure it's not missed in the future.

Ex4 Task1 Step 14 -
You should not add a task to switch the slots. The point of this is to get things into the staging slot where you can then review them. All the slots are a

[2020-12-10 18:15] #75 closed

[2021-02-13 00:07] dwnatwick opened #77 "2021 Q3 Updates Suggestions"
Suggestions for HOL improvement:
1. Wire up the databases
2. improve/rework the deployment to work in real-world development shop

[2021-02-25 17:52] DawnmarieDesJardins commented on #77
Closing this issue as the update has been postponed.

[2021-02-25 17:52] #77 closed

[2021-03-24 18:38] opsgilitybrian opened #80 "Quick fix for Dev staging environment"
![image](https://user-images.githubusercontent.com/66644214/112365762-0322bc80-8ca6-11eb-824a-41f8d51a5511.png)

- [x] Modify text to clear any confusion on environment
- [x] Modify image to clear any confusion on environment

[2021-03-24 19:13] opsgilitybrian commented on #80
@jimblizzard Thanks for calling out the images and text for staging environment.

[2021-03-24 22:39] #80 closed

[2021-04-08 21:55] timahenning opened #82 "June 2021 Suggested Updates"
Eliminate ARM template specific Exercise 1

- Establish prewritten ARM templates in another repository alongside app repository
- Create IaC build and/or release pipelines
- Use ADO variable groups to parameterize build and/or release pipelines for DEV/TEST/PROD environments
- Effectively becomes first half of lab focused on Infrastructure deployment pipelines in ADO

Regarding Question 6
- Option

[2021-06-07 20:43] DawnmarieDesJardins commented on #82
@hatboyzero
Please see field PR #84 during this update

[2021-07-23 17:14] DawnmarieDesJardins commented on #82
Closing issue as resolved with merge of update PR

[2021-07-23 17:14] #82 closed

[2021-07-26 08:38] sumitmalik51 opened #90 "Issues in Exercise 1"
Exercise 1 Task 1 Step 6: Need to explain how to create issues in azure board as the overview is not showing every time and its a bit confusing for the students.

**Exercise 1 Task 1 Step 6:** The Item state is not changing to **done** even after completing the PR in github. Screenshot below:
![image](https://user-images.githubusercontent.com/45102602/126959199-d1d10ec1-f3d5-49d8-b77e-d48c64815f1e

[2021-07-28 15:46] DawnmarieDesJardins commented on #90
@hatboyzero
Good morning.  Please confirm I can close this issue as resolved with merge of PR #91
Thanks.

[2021-07-28 17:17] hatboyzero commented on #90
Dawnmarie – yes, this can be closed

From: Dawnmarie DesJardins ***@***.***>
Sent: Wednesday, July 28, 2021 10:47 AM
To: microsoft/MCW-Continuous-delivery-in-Azure-DevOps ***@***.***>
Cc: Matt Gray ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/MCW-Continuous-delivery-in-Azure-DevOps] Issues in Exercise 1 (#90)

@hatboyzero<https://github.com/hatboyzero>
Good morning. Please confirm I

[2021-07-28 17:40] DawnmarieDesJardins commented on #90
Closing issue as resolved with merge of PR #91

[2021-08-03 17:30] sumitmalik51 commented on #90
Hi @DawnmarieDesJardins , @hatboyzero ,

I have tried again today and found the same issues.
* Azure board issues creation needs more clear instructions in Exercise 1.
* Azure Board issue is not changing to Done state.
* The docker-compose command is still showing to not find the **Create File**, below is the screenshot.
*
![image](https://user-images.githubusercontent.com/45102602/128059714-7b370

[2021-08-03 17:46] DawnmarieDesJardins commented on #90
@sumitmalik51
Thanks for letting us know.  Reopening issue for review.

[2021-08-03 17:52] hatboyzero commented on #90
I’ll take care of this this evening - will double check that the correct changes get pushed this time.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dawnmarie DesJardins ***@***.***>
Sent: Tuesday, August 3, 2021 12:46:37 PM
To: microsoft/MCW-Continuous-delivery-in-Azure-DevOps ***@***.***>
Cc: Matt Gray ***@***.***>; Mention ***@***.***>
Subject: Re: [microsof

[2021-08-04 07:41] akn9050 commented on #90
Hi @DawnmarieDesJardins @hatboyzero, can we please priorities this, it is being discussed that this lab will be used for Azure Immersion Workshop soon.

[2021-08-04 12:50] hatboyzero commented on #90
Amit, regarding the docker-compose error you are having, I cannot reproduce it so far.  Can you provide the entire error log in a text file, possibly?  From the screenshot you provided, I suspect it has more to do with the docker installation on the local machine in question, but without more information I cannot be 100% sure.

As for the issues with Azure Board - the steps in their current incarn

[2021-08-04 14:00] sumitmalik51 commented on #90
Hi @hatboyzero , I have attached the error logs, Also can you please confirm which docker desktop version you are using?

[docker-compose-error.txt](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/files/6931718/docker-compose-error.txt)

[2021-08-04 16:34] hatboyzero commented on #90
Please verify that the following files exist in the root of the folder you are calling docker-compose from:

- docker-compose.yml
- docker-compose.init.yml
- build.docker-compose.yml

I have no problems running the following command:
[code]
And the output I see is:
[code]

My version of Docker Desktop is 3.5.2

[2021-08-04 16:40] sumitmalik51 commented on #90
Yes, the files were available but when I did a little more detailed research about this, seems like this is some kind of windows configuration issue as the docker is starting in first but after some time it stopped working and having some issues with HyperV container. Could you please confirm which Windows version did you try? I am using WS 2019 right now
I will check with the other version tomorr

[2021-08-04 16:42] hatboyzero commented on #90
My windows version is 20H2.

[2021-08-06 10:34] sumitmalik51 commented on #90
Closing this issues as I was able to fix that after configuring some hyperv components

[2021-08-06 10:34] #90 closed

[2022-01-19 11:59] Shivashant25 opened #100 "Issue in Exercise 1 Task 4"
In exercise 1 task 4 step 10, The Github action workflow is failing with an error: `buildx call failed with: error: failed to solve: unexpected status: 403 Forbidden`.  Similarly, content-api and content-init workflows are also failing.

In exercise 3 task 2 step 8, docker-publish workflow is also failing. Please look into it.

![image](https://user-images.githubusercontent.com/81952290/150125385-

[2022-01-24 02:56] saimachi commented on #100
Hi @Shivashant25,

Thanks for bringing this to our attention. In my testing, I observed that replacing `docker.pkg.github.com/[USERNAME]/[REPOSITORY]` with `ghcr.io/[USERNAME]` as the target registry worked.

To observe the necessary changes, you can refer to [my fork](https://github.com/saimachi/MCW-Continuous-delivery-in-Azure-DevOps). However, please note that I am continuing to test this lab,

[2022-01-24 17:04] DawnmarieDesJardins commented on #100
Closing issues as resolved with merge of PR #101

[2022-01-24 17:04] #100 closed

[2022-02-04 21:40] Shivashant25 opened #102 "Issue in Exercise 1 Task 4"
In Exercise 1> Task 4>, All the workflow files(fabrikam-web.yml, fabrikam-api.yml, and fabrikam-init.yml) are failing with an error mentioned in the image below. Please look into this.

![image](https://user-images.githubusercontent.com/81952290/152606580-07e1bba0-4778-4b1d-9668-a9ba937b0938.png)

[2022-02-10 05:52] blgorman opened #103 "Exercise 1, Task 4, #8"
**Describe the bug**
YAML is incorrect as shown, immediately fails on build, warns in the editor as typed

**HOL or Workshop Document**
Hands-On-Lab

**To Reproduce**
Steps to reproduce the behavior:
Create any one of your three docker yaml files.
Add the YAML as shown:

[code]
The line "working-directory" will fail the action and warns that it is not possible

![broken](https://user-images.github

[2022-02-10 06:35] blgorman opened #105 "Exercise 1 - Task 2 - Dependabot: Images and directions don't match current UI"
**Describe the bug**
Dependabot Images and directions are outdated for current UI

Specifically:
hol-ex1-task2-step3-1.png
hol-ex1-task2-step4-1.png
hol-ex1-task2-step5-1.png
hol-ex1-task2-step5-2.png

**HOL or Workshop Document**
Hands on Lab

**To Reproduce**
Work through the section on Dependabot, you'll see the deviations regarding finding handlebars and creating the

**Expected behavior**
Ima

[2022-02-10 06:44] blgorman opened #107 "Exercise 3, Task 2, #6 - YAML is incorrect for secret token and deploy.ps1 environment variable"
**Describe the bug**
The YAML shown is incorrect and will not deploy the application.  The secret created earlier was `CR_PAT` but the YAML continually refers to this token and environment variable as `GITHUB_TOKEN`

**HOL or Workshop Document**
HOL

**Time Frame Needed**
ASAP

**To Reproduce**
Steps to reproduce the behavior:
1. Create the docker-publish.yaml file
2. use the given YAML
3. deploy

[2022-02-10 07:21] blgorman opened #109 "Exercise 3, Task 3, Step 11 - YAML is incorrect and corrected YAML will not run to completion"
**Describe the bug**
ADO YAML is not working, and I am unable to determine the cause or fix.  It is possible this is on my end but I do believe I've completed all of the required instructions correctly.

Additionally, ADO Yaml in Exercise 3, Task 3, Step 9 has a typo that is easily corrected and has the correct version listed later in the document.

What is first shown is:

[code]

This should be:

[2022-02-15 16:02] #105 closed

[2022-02-15 16:03] #107 closed

[2022-02-16 00:21] #103 closed

[2022-02-16 00:22] timahenning commented on #102
Fixed with PR #104 .

[2022-02-16 00:22] #102 closed

[2022-02-18 19:24] DawnmarieDesJardins commented on #109
@hatboyzero @timahenning
Hello gents, any update on this one?  Thank you!

[2022-02-22 13:38] Karthikkc123 commented on #102
In [Exercise-01 Task-04 Step-10](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md), GitHub action for fabrikam-web.yml workflow is getting failed with the following error.

`Error: signing [ghcr.io/Karthikkc123/mcw-continuous-delivery-lab-files/fabrikam-web@sha256:cc64700e3397bd

[2022-02-22 13:41] karthikkc24 opened #116 "Issue in Exercise-01 Task-04"
In [Exercise-01 Task-04 Step-10](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md)[](https://user-images.githubusercontent.com/83394010/155140796-0d0215df-18d1-4157-b427-0697a12e88b3.png), GitHub action for fabrikam-web.yml workflow is getting failed with the following error.

E

[2022-02-22 17:18] hatboyzero commented on #109
Can you try a script action that performs a `docker logout` prior to executing those Docker compose tasks?  The registry that the docker compose tasks are trying to pull from should be public - as such they shouldn't require a `docker logout`, but this behavior has been described as a long running docker or docker hub issue that seems to happen periodically to end users (described in https://githu

[2022-02-22 20:50] hatboyzero commented on #109
Do you have a repo where this github workflow is located?  Can you provide a link to it so I can look at it myself?

[2022-02-24 06:20] NAPADAI opened #117 "flw53r8k5"
**Describe the bug**
A clear and concise description of what the bug is.

**HOL or Workshop Document**
If it is a specific document, provide a the name.

**Time Frame Needed**
Specific event or activity that would benefit from fixing this bug

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2022-02-24 16:27] DawnmarieDesJardins commented on #117
@NAPADAI
Hello.  Did you mean to open this issue, this only contains the template information.  Please let us know how we can help you.

[2022-02-25 19:59] DawnmarieDesJardins commented on #109
@blgorman - Hi Brian!  Any update for us?

[2022-02-25 20:00] DawnmarieDesJardins commented on #116
@hatboyzero - Hi Matt!  Any updates for us?

[2022-02-25 20:13] hatboyzero commented on #116
${{ github.actor }} resolves to the username that initiates the github workflow run.  That part is correct, because you would expect the container registry to be located at `ghcr.io/USERNAME` and the resulting docker image to be pushed to `ghcr.io/USERNAME/IMAGENAME:IMAGETAG`.  In the error above, it looks like you are trying to push to `ghcr.io/USERNAME/REPONAME/IMAGENAME:IMAGETAG`, which is not

[2022-02-28 12:03] Karthikkc123 commented on #116
Hello @hatboyzero, Still facing an issue that workflow got failed with the error failed to solve unexpected status: 403 Forbidden.

**Error: buildx call failed with error: failed to solve: unexpected status: 403 Forbidden**

Please find the screenshots below for your reference:

![image](https://user-images.githubusercontent.com/83394010/155980261-ad63a886-ebf7-4e08-9e3f-e71c8905a6fb.png)

![image

[2022-02-28 12:03] Karthikkc123 commented on #116
Hello @hatboyzero, Still facing an issue that workflow got failed with the error failed to solve unexpected status: 403 Forbidden.

**Error: buildx call failed with error: failed to solve: unexpected status: 403 Forbidden**

Please find the screenshots below for your reference:

![image](https://user-images.githubusercontent.com/83394010/155978615-0b496546-f8f0-4e16-87d2-390e20bbe43a.png)

![image

[2022-02-28 22:56] DawnmarieDesJardins commented on #117
Closing this issue as it seems to be opened in error.  If not, please re-open and provide details of where you're having trouble.

[2022-02-28 22:56] #117 closed

[2022-03-01 02:44] hatboyzero commented on #116
Forgive me for being curious, but what is the difference between the original screenshot and this?  I see in the original screenshot that you are failing at the step to `Sign the published Docker image`, but in the latest screenshot you are failing at the step to `Build and push Docker image` - there is a difference in the workflow YAML between these two screenshots.  I want to know what that diff

[2022-03-01 05:48] Karthikkc123 commented on #116
@hatboyzero, please find the details that the changes I have done in the workflow YAML.

1. In the **env** part updated the **REGISTRY: ghcr.io/${{ github.actor }}** and **IMAGE_NAME: fabrikam-web**

2. In the **Build and push Docker image with Buildx** part added the two lines which mentioned in the labguide.

    **file: ./content-web/Dockerfile**
    **context: ./content-web**

[2022-03-04 15:07] hatboyzero commented on #116
@Karthikkc123 Can you please point me at an existing repository where this problem is manifesting so that I can take a closer look?

[2022-03-04 20:39] DawnmarieDesJardins commented on #109
No additional comments.  Closing issue, please reopen if you're still having trouble.

[2022-03-04 20:39] #109 closed

[2022-03-07 11:53] Karthikkc123 commented on #116
Hello @hatboyzero,

[Exercise-1 Task 4: Build Automation with GitHub Registry Step-10](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md), with the latest updates while creating a GitHub action for fabrikam-web.yml workflow is getting failed. Even after following the instructions

[2022-03-09 19:12] hatboyzero commented on #116
@Karthikkc123, that is not what I asked for.  Do you have an existing repository up where this behavior is manifesting and reproducible so that I can take a closer look at the issue as it is occurring?

[2022-03-14 06:27] Karthikkc123 commented on #116
@hatboyzero, I don't have that repository.

[2022-03-18 18:34] DawnmarieDesJardins commented on #116
@Karthikkc123
Since we are unable to reproduce the error and cannot see your example, closing this issue.

[2022-03-21 20:59] hatboyzero commented on #116
@Divyasri199 I noticed that the docker repository you are tagging this with has an uppercase character in it's name (likely because your username has an uppercase character).  Could you try the docker image signing operation with everything set to lowercase?

[2022-03-22 08:33] Divyasri199 commented on #116
@hatboyzero, Thanks for the update. The issue has been resolved. Please go ahead with closing the issue.

[2022-03-22 15:41] DawnmarieDesJardins commented on #116
Thanks team!  Closing the issue as resolved.

[2022-03-22 15:41] #116 closed

[2022-03-23 15:35] manasvin opened #120 "Multiple workflows caused by instruction - Exercise 1, Task 4, Step 11"
The instruction "Set up workflows for content-api and content-init in the same manner..." is causing multiple workflows to be created within Github Automation, as interpreted by the Labs team (who format/chop these labs for Immersion workshops).

I believe it needs to be clarified although "fabrikam-api" and "fabrikam-init" yml files need to be created and patched/configured similar to "fabrikam-w

[2022-03-23 15:42] manasvin opened #121 "Misplaced instructions at Ex1 Task4 Steps 1-4"
Instructions to create a secret CR_PAT  (Ex1 Task4 Steps 1-4) are not meant for Exercise 1 but need to be placed in Exercise 2 which is where they are eventually used but not used anywhere before.

[2022-03-29 18:24] DawnmarieDesJardins commented on #121
@hatboyzero @timahenning
Hello.  Any update on this and issue #120 for us please?

[2022-04-05 17:40] sadukie commented on #120
@manasvin  With regards to this particular issue, creating the files will still create the workflows. Whether you take the approach of creating a new workflow (repeating steps 5 through 10 for init and api) or create the files manually, you will still get multiple workflows appearing, as seen in your screenshot.

Is it confusing that the workflows are all being named Docker? If that's the problem,

[2022-04-05 17:58] sadukie commented on #121
After reviewing the lab, the CR_PAT in GitHub secrets isn't used until Exercise 3, Task 2, Step 6.

Exercise 2 uses the environment variable set in Exercise 2, Task 2, Step 1.

I will incorporate the CR_PAT steps in Exercise 3, Task 2.

[2022-04-05 18:51] DawnmarieDesJardins commented on #121
Closing issue as resolved with merge of PR #122

[2022-04-05 18:51] #121 closed

[2022-04-06 20:51] manasvin commented on #120
@sadukie I don't know where the confusion is. When I created newer files (by only adding a new file not new workflow) it definitely maintained a single workflow (called "Docker"). The problem with using the configure new workflows step is that all of them are trigger the build process individually so if there were three of them, the build process would be triggered **thrice** for the same update!

[2022-04-06 20:53] manasvin opened #123 "re-open #120 Multiple workflows caused by instruction - Exercise 1, Task 4, Step 11"
Issue not fixed so please reopen

#120 Multiple workflows caused by instruction - Exercise 1, Task 4, Step 11

[2022-04-07 01:56] sadukie commented on #120
@manasvin When you wrote:

[code]

Where are you creating these new files that they aren't creating new workflows? If you put `fabrikam-api.yml`, `fabrikam-init.yml`, and `fabrikam-web.yml` in the `.github\workflows` folder, those will lead to 3 workflows.

Where are you creating these other files that are not creating additional workflows while still being executed?

[2022-04-07 02:46] sadukie commented on #120
Ideally, in a production environment, the images would be in their own repos with their own workflows so that you only rebuild an image when the image is updated.

@manasvin  Are you asking to have the lab updated so that you are building all 3 images in one workflow? Something like this?

![One build - steps for extracting the metadata, building and pushing the image, signing the image, and post

[2022-04-07 03:18] sadukie commented on #120
If we wanted it to only update an image when there are changes to its respective folder in a single workflow, that workflow could look something like this:

![Check modified files and then trigger the respective build job](https://user-images.githubusercontent.com/106202/162113120-ea4874f2-39df-4be3-b6ab-96c6c14d0b3c.png)

However, going this route would require additional documentation and need t

[2022-04-07 03:36] sadukie commented on #120
@manasvin Looking into this more, I will be making an update that takes the following approach:

![Checks for folder changes and updates the respective image](https://user-images.githubusercontent.com/106202/162114819-1ae45863-7f09-4117-ae56-a70fe31019c9.png)

In the yml file, there will be jobs for:

- check_changed_folders: Checks the `git diff` and sets output variables if a folder is changed -

[2022-04-07 07:49] manasvin commented on #120
@sadukie it may be easier If I could demonstrate these issues using the cloudlabs test instance (below) which is what we are
(https://github.com/CloudLabs-MCW/MCW-Continuous-delivery-in-Azure-DevOps/blob/prod/Hands-on%20lab/).

is there a way to interactively connect via Teams/Zoom ?

for reference the page maintained by Cloudlabs (lab partner) with detailed instructions - https://github.com/Cloud

[2022-04-07 15:55] DawnmarieDesJardins commented on #123
Closing this issue.  Issue #120 was reopened, and all necessary documentation is there.

[2022-04-07 15:55] #123 closed

[2022-04-08 14:59] karthikkc24 opened #124 "Couldn't create GitHub Secret with Name (GITHUB_TOKEN)"
In [Exercise-1 Task-4](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-4-build-automation-with-github-registry), while creating Publish Docker Container workflow for fabrikam-web.yml, fabrikam-api.yml & fabrikam-init.yml. We were facing a sign-in and 403 Forbidden error th

[2022-04-08 15:17] karthikkc24 commented on #124
@sadukie Glad to hear that ! Will be waiting to hear back from you. Thank you and have a great weekend.

[2022-04-08 23:17] DawnmarieDesJardins commented on #120
Closing with merge of PR #125

[2022-04-08 23:17] #120 closed

[2022-04-08 23:18] DawnmarieDesJardins commented on #124
Closing with merge of PR #125

[2022-04-08 23:18] #124 closed

[2022-04-12 14:37] karthikkc24 opened #126 "Workflow creation failed with the latest updates"
1. In [Exercise-1 Task-2 Step-10](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-2-build-automation-with-github-registry), workflow creation getting failed with the latest updates.

    Encountered the following error:

    ![image](https://user-images.githubusercontent.c

[2022-04-12 18:34] sadukie commented on #126
Addressing Karthik's points:

1. For the signing error - it looks like I left the note in [Exercise 1, Task 3, Step 3, Note 2](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-3-editing-the-github-workflow-file-locally) - I will move this note higher up so that it is with t

[2022-04-13 14:58] kalyani7744 commented on #126
Hello @sadukie,

1. We are performing the lab using updated Microsoft Repo. In [Exercise 1, Task 1, Step 5](https://github.com/microsoft/MCW-Continuous-delivery-in-Azure-DevOps/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20Continuous%20delivery%20in%20Azure%20DevOps.md#task-1-set-up-local-infrastructure), the commands to commit and push are missing from the lab guide. While pushing the cha

[2022-04-13 15:08] sadukie commented on #126
@karthikkc24 With regards to those images being skipped:

* Make a change in the `content-api` folder. I test with changing a comment in the Dockerfile.
* Commit that change to the repo.
* Push the commit to GitHub.

This should trigger the "Update the API Docker image" job.

Next:

* Make a change in the `content-init` folder. I test with changing a comment in the Dockerfile.
* Commit that change

[2022-04-13 17:40] DawnmarieDesJardins commented on #126
Closing issue with merge of PE #127

[2022-04-13 17:40] #126 closed

[2022-07-29 20:56] DawnmarieDesJardins commented on #55
Closing to archive repo.

[2022-07-29 20:56] #55 closed